<svelte:head>
	<title>Empezando a Programar</title>
</svelte:head>

<script>
import Uno from '../components/uno.svelte';
import Guia from '../components/guia.svelte';
</script>

<h1>Aprende a Programar</h1>

<p>Programar más que una moda es algo que en la actualidad es impensable no saberlo.</p>

<p>En las siguientes páginas aprenderás a profundidad sobre la programación.</p>

<Guia firma={"HTML"}/>

<Uno />