<script>
import Antes from '../components/uno.svelte';
</script>

<style>
@import url('https://css.gg/gift.css');
@import url('https://css.gg/heart.css');

 .bloque{
     text-align: center;
 }

 .desc{
     font-weight: 800;
     color: red;
 }

 .fuerte{
     font-weight: 900;
 }
</style>

<div class="bloque">
 <h1>Acerca de</h1>

<h2 class="fuerte">Program.app</h2>

<p class=" bloque desc">Una app que te permitirá aprender de programación desde el nivel básico hasta especializaciones como Desarrollo Web.</p>

<p>Hecha por Temakak</p>

 Un <center><i class="bloque gg-gift"></i></center> para ti
 </div>
 <Antes />