<script>
import Antes from '../components/antes.svelte';

let edad = prompt("Escribe tu edad");
let men;
if (edad<12) {
	console.log("Estas peque");
	men=1;
} else if (edad >= 12 && edad < 18) {
	console.log("Estás chavo");
	men=2;
} else if (edad >= 18 && edad < 60) {
	console.log("Estás ruco");
	men=3;
} else {
	console.log("Estás decrepito");
	men=4;
}

</script>

<style>

.linea{
    text-align: center;
}
</style>

<svelte:head>
	<title>Escribir nombre</title>
</svelte:head>

<div class="linea">
{#if men==1}
<p>Eres un niño</p>
{:else if men==2}
<p>Eres un adolescente</p>
{:else if men==3}
<p>Eres adulto</p>
{:else}
<p>Eres una persona mayor</p>
{/if}
</div>


<Antes />