<script>
import Antes from '../components/antes.svelte';

    let texto;
    let val;

    function compa() {
    	val = texto.endsWith('a');
    }
</script>

<style>

.linea{
    text-align: center;
}
</style>

<svelte:head>
	<title>Cambio JS</title>
</svelte:head>

<div class="linea">
<h3>Escribe una palabra</h3>
<input bind:value={texto}>

<button on:click={compa}>Checar</button>

{#if val==true}
<p>La palabra termina con 'a'</p>
{:else if val==false}
<p>La palabra no termina con 'a'</p>
{:else}
<p></p>
{/if}
</div>

<Antes />