<script>
import Antes from '../components/antes.svelte';

    let texto;
    let val;
    let che="chido";

    const checar = () => {
    	if(texto == che)
	    {
	       val = true;
	    } else {
	    	val = false;
	    }
    }
</script>

<style>
@import url('https://css.gg/attachment.css');

.linea{
    text-align: center;
}
</style>

<svelte:head>
	<title>Cata JS</title>
</svelte:head>
<div class="linea">
<input bind:value={texto} type="password">

<h3>{texto}</h3>

<button on:click={checar}>Accesar</button>

{#if val==true}
<p>Bienvenido</p>
{:else if val==false}
<p>A la verga</p>
{:else}
<p></p>
{/if}
</div>

<i class="gg-attachment"></i>
<Antes />