<svelte:head>
	<title>Menu</title>
</svelte:head>

<style>
@import url('https://fonts.googleapis.com/css?family=Anton|Raleway&display=swap');
.rale{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}

.anto{
    font-family: 'Anton', sans-serif;
    text-align: center;
}
</style>

<script>
import Uno from '../components/uno.svelte';
import Guia from '../components/guia.svelte';
import Footer from '../components/footer.svelte';
 let cadena='Esta es una cadena';
</script>

<h1 class="anto">Te damos la bienvenida</h1>

<p class="rale">Selecciona una de las siguientes opciones:</p>

<ul style="list-style-type:none;">
  <li><a href="about">Aprender a Programar</a></li>
  <li><a href="checar">Aprender Desarrollo Web</a></li>
  <li><a href="cambio">Aprender Inteligencia Artificial</a></li>
  <li><a href="cadena">Aprender Big Data</a></li>
</ul>

<p>{cadena}</p>

<Guia firma={"PHP"}/>

<Uno />

<Footer />